<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="30">
        <mat-toolbar color="accent">Wise Deffender</mat-toolbar> 
    <br>
    <h2 align="center">Sign Up</h2>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input matInput placeholder="UserName">
                <mat-label>UserName</mat-label>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="PhoneNumber">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password':'text'">
                <button mat-icon-button matSuffix (click)="hide=!hide"[attr.aria-label]="'Hide Password'"[attr.aria-pressed]="hide">
                    <mat-icon>{{hide? 'visibility_off':'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hide ? 'password' :'text'">
            </mat-form-field>
            <button (click)="login()" mat-raised-button color="primary" mat-raised-button type="submit" class="mat-button">SignUp</button>
        <br/>
        <p align="right">Already Have a Account?<a routerLink="../signin">Sign In</a></p>
        </form>
    </mat-card>
</div>