<div fxLayoutAlign="center" fxFlexFill >
    <mat-card fxFlex="fxFlexFill" >
        <p>
        <mat-toolbar color="warn">
            <span >WiseDeffender</span>
            <span class="button"></span>
        <span>
            <button  mat-raised-button color="warn"  >Logout</button>    
            </span>    
        </mat-toolbar>
        </p>
        <div style="padding:200px;background-color:lightblue">
            
            <img mat-card-image src="https://i.imgur.com/I1ZM71P.png" style="height: 600px;width: 600px; float: right; "class="avatar mat-elevation-z8">
        <br><br>
            <button (click)="credential()"  mat-raised-button style="font-size:30px; padding:40px 20px; width:500px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Credential Locker</button><br><br><br>
        <button (click)="bank()" mat-raised-button style="font-size:30px; padding:40px 20px; width:500px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Bank Details Locker</button><br><br><br>
        <button (click)="media()" mat-raised-button style="font-size:30px; padding:40px 20px;width:500px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Meida Locker</button>
        <div >
        </div>
        </div></mat-card>
</div>