
<div fxLayoutAlign="center" fxFlexFill >
    <mat-card fxFlex="fxFlexFill" >
        <p>
        <mat-toolbar color="warn">
            <span >WiseDeffender</span>
            <span class="button"></span>
        <span>
            <button  mat-raised-button color="warn"  >Logout</button>    
            </span>    
        </mat-toolbar>
        </p>
        <div fxLayoutAlign="stretch"  fxFlexFill style="padding:100px;background-color:lightblue"><br>
        <h1>Bank Locker Details:
<br><br>
<div>
    <div>
        <label> <b> Account Name: </b></label> {{bank.accName}}
    </div>
    <div>
        <label> <b> Account Number: </b></label> {{bank.accNumber}}
    </div>
    <div>
        <label> <b> Account IFSC Code: </b></label> {{bank.accIfsc}}
    </div>
    <div>
        <label> <b> Account UserName: </b></label> {{bank.accUsername}}
    </div>
    <div>
        <label> <b> Account Password: </b></label> {{bank.accPassword}}
    </div>
</div>
</h1>

<!-- <div fxLayoutAlign="center" fxFlexFill >
    <mat-card fxFlex="fxFlexFill" >
        <p>
        <mat-toolbar color="warn">
            <span >WiseDeffender</span>
            <span class="button"></span>
        <span>
            <button  mat-raised-button color="warn"  >Logout</button>    
            </span>    
        </mat-toolbar>
        </p>
       
       
        <div>
            <label> <b> Email Id: </b></label> {{employee.emailId}}
        </div>
        
        <div fxLayoutAlign="stretch"  fxFlexFill style="padding:100px;background-color:lightblue">
            <div>
                <label> <b> First Name: </b></label> {{employee.firstName}}
            </div><br>
            <br>
            <b>
                <label> <b> Last Name: </b></label> {{employee.lastName}}
            </b>
        </div>
        
        
    </mat-card>
</div> -->