<div fxLayoutAlign="center" fxFlexFill >
    <mat-card fxFlex="fxFlexFill" >
        <p>
        <mat-toolbar color="warn">
            <span >WiseDeffender</span>
            <span class="button"></span>
        <span>
            <button  mat-raised-button color="warn"  >Logout</button>    
            </span>    
        </mat-toolbar>
        </p>
        <div style="padding:200px;background-color:lightblue">
        <br><br>
            <button (click)="credential()"  style="display:block; margin: 0 auto;" class="but" mat-raised-button style="font-size:30px; padding:40px 20px; width:500px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Credential Locker</button><br><br><br>
        <button (click)="bank()" class="and" mat-raised-button style="font-size:30px; padding:40px 20px; width:500px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Bank Details Locker</button><br><br><br>
        <button (click)="media()" class="or" mat-raised-button style="font-size:30px; padding:40px 20px;width:500px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Meida Locker</button>
        <div >
        </div>
        </div></mat-card>
</div>