<!-- <div class="col-md-6 offset-md-3">
    <h3> Update Employee </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> First Name</label>
            <input type="text" class ="form-control" id = "firstName"
                [(ngModel)] = "employee.firstName" name = "firstName">
        </div>
    
        <div class="form-group">
            <label> Last Name</label>
            <input type="text" class ="form-control" id = "lastName"
                [(ngModel)] = "employee.lastName" name = "lastName">
        </div>
    
        <div class="form-group">
            <label> Email Id</label>
            <input type="text" class ="form-control" id = "emailId"
                [(ngModel)] = "employee.emailId" name = "emailId">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div>  -->
    <!-- <div fxLayoutAlign="center" fxFlexFill >
        <mat-card fxFlex="fxFlexFill" >
            <p>
            <mat-toolbar color="warn">
                <span >WiseDeffender</span>
                <span class="button"></span>
            <span>
                <button  mat-raised-button color="warn"  >Logout</button>    
                </span>    
            </mat-toolbar>
            </p>
            <span>
            <div fxLayoutAlign="stretch"  fxFlexFill style="padding:100px;background-color:lightblue">
                
                <mat-card fxFlex='50'>
                    <br><br><br>
                    <mat-toolbar color="accent">Credential Locker Details</mat-toolbar>
                    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" (ngSubmit) = "onSubmit()">
                            <div class="form-group">
                                <label  style="width:100px;display:inline-block">First Name : </label>
                                <input type="text" class ="form-control" id = "firstName" placeholder="First Name"
                                    [(ngModel)] = "employee.firstName" name = "firstName">
                            </div><br><br>
                            <div class="form-group">
                                <label style="width:100px;display:inline-block">Last Name : </label>
                                <input type="text" class ="form-control" id = "lastName" placeholder="Last Name"
                                    [(ngModel)] = "employee.lastName" name = "lastName">
                            </div><br><br>
                            <div class="form-group">
                                <label style="width:100px;display:inline-block">Email Id : </label>
                                <input type="text" class ="form-control" id = "emailId" placeholder="Email Id"
                                    [(ngModel)] = "employee.emailId" name = "emailId" >
                            </div>
                        <br><br>
                    
                    <button class = "btn btn-success" mat-raised-button color="primary" type ="submit">ADD</button>
                </form>
            </mat-card>
            </div>
            </span>
                </mat-card>
            </div> -->
            <!-- <div class="col-md-6 offset-md-3">
    <h3> Create Employee </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> First Name</label>
            <input type="text" class ="form-control" id = "firstName"
                [(ngModel)] = "employee.firstName" name = "firstName">
        </div>
    
        <div class="form-group">
            <label> Last Name</label>
            <input type="text" class ="form-control" id = "lastName"
                [(ngModel)] = "employee.lastName" name = "lastName">
        </div>
    
        <div class="form-group">
            <label> Email Id</label>
            <input type="text" class ="form-control" id = "emailId"
                [(ngModel)] = "employee.emailId" name = "emailId">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div>  -->
    <!-- <div fxLayoutAlign="center" fxFlexFill >
        <mat-card fxFlex="fxFlexFill" >
            <p>
            <mat-toolbar color="warn">
                <span >WiseDeffender</span>
                <span class="button"></span>
            <span>
                <button  mat-raised-button color="warn"  >Logout</button>    
                </span>    
            </mat-toolbar>
            </p>
            <span>
            <div fxLayoutAlign="stretch"  fxFlexFill style="padding:100px;background-color:lightblue">
                
                <mat-card fxFlex='50'>
                    <br><br><br>
                    <mat-toolbar color="accent">Credential Locker Details</mat-toolbar>
                    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" (ngSubmit) = "onSubmit()">
                            <div class="form-group">
                                <label  style="width:100px;display:inline-block">First Name : </label>
                                <input type="text" class ="form-control" id = "firstName" placeholder="First Name"
                                    [(ngModel)] = "employee.firstName" name = "firstName">
                            </div><br><br>
                            <div class="form-group">
                                <label style="width:100px;display:inline-block">Last Name : </label>
                                <input type="text" class ="form-control" id = "lastName" placeholder="Last Name"
                                    [(ngModel)] = "employee.lastName" name = "lastName">
                            </div><br><br>
                            <div class="form-group">
                                <label style="width:100px;display:inline-block">Email Id : </label>
                                <input type="text" class ="form-control" id = "emailId" placeholder="Email Id"
                                    [(ngModel)] = "employee.emailId" name = "emailId" >
                            </div>
                        <br><br>
                    
                    <button class = "btn btn-success" mat-raised-button color="primary" type ="submit">ADD</button>
                </form>
            </mat-card>
            </div>
            </span>
                </mat-card>
            </div> -->
                    
    <!-- <div fxLayoutAlign="center center" fxFlexFill class="main-div">
        <mat-card fxFlex='30'>
            <mat-toolbar color="accent">WiseDeffender</mat-toolbar>
            <h2 align="center">Sign In</h2>
            <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="UserName">
                    <mat-label>UserName</mat-label>
                </mat-form-field>
                <mat-form-field appearance="outline">
                          <mat-label>Password</mat-label>

                </mat-form-field>
                <button mat-raised-button color="primary"  mat-raised-button type="submit" class="mat-button">Login</button>
                <br/>
            </form>       
        </mat-card>
    </div> -->
    <div fxLayoutAlign="center" fxFlexFill >
        <mat-card fxFlex="fxFlexFill" >
            <p>
            <mat-toolbar color="warn">
                <span >WiseDeffender</span>
                <span class="button"></span>
            <span>
                <button  mat-raised-button color="warn"  >Logout</button>    
                </span>    
            </mat-toolbar>
            </p>
            <span>
            <div fxLayoutAlign="center center"  fxFlexFill class="main-div" style="padding:100px;background-color:lightblue">      
                <mat-card fxFlex='30'>
                    
                    <mat-toolbar color="accent">Bank Locker Details</mat-toolbar>
                    <form align="center" fxLayoutAlign="stretch" fxLayout="column" class="login-form" (ngSubmit) = "onSubmit()">
 
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Enter Name" id="firstName" name="firstName" [(ngModel)] = "employee.firstName">
                            <mat-label>Enter Name</mat-label>
                        </mat-form-field> 
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="UserName" id="lastName" name="lastName" [(ngModel)] = "employee.lastName">
                            <mat-label>UserName</mat-label>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'"   id="emailId" name="emailId"   [(ngModel)] = "employee.emailId">
                            <button mat-icon-button matSuffix (click)="hide = !hide"[attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                  </mat-form-field>
                        <!-- <div class="form-group">
                                <label  style="width:100px;display:inline-block">Account Name : </label>
                                <input type="text" class ="form-control" id = "accName" placeholder="Account Name"
                                    [(ngModel)] = "bank.accName" name = "accName">
                            </div><br><br>
                            <div class="form-group">
                                <label style="width:100px;display:inline-block">Account Number : </label>
                                <input type="text" class ="form-control" id = "accNumber" placeholder="Account Number"
                                    [(ngModel)] = "bank.accNumber" name = "accNumber">
                            </div><br><br>
                            <div class="form-group">
                                <label style="width:100px;display:inline-block">Account IFSC Code : </label>
                                <input type="text" class ="form-control" id = "accIfsc" placeholder="Account IFSC Code"
                                    [(ngModel)] = "bank.accIfsc" name = "accIfsc" >
                            </div>
                            <div class="form-group">
                                <label style="width:100px;display:inline-block">Account UserName : </label>
                                <input type="text" class ="form-control" id = "accUsername" placeholder="Account UserName"
                                    [(ngModel)] = "bank.accUsername" name = "accUsername" >
                            </div>
                            <div class="form-group">
                                <label style="width:100px;display:inline-block">Account Password : </label>
                                <input type="text" class ="form-control" id = "accPassword" placeholder="Account Password"
                                    [(ngModel)] = "bank.accPassword" name = "accPassword" >
                            </div> -->
                        <br><br>
                    
                    <button class = "btn btn-success" mat-raised-button color="primary" type ="submit">ADD</button>
                </form>
            </mat-card>
            </div>
            </span>
                </mat-card>
            </div>
    
     
    
      
